name: build
on: 
  push:
    branchs:
      - blog

jobs:
  deploy:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      
      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.68.3"
      
      - name: Prepare hugo
        run: |
          git submodule sync && git submodule update --init

      - name: Installing Nodejs
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Installing Dependency
        run: |
          npm install -g postcss-cli
          npm install -g autoprefixer
          cd themes/tailwind
          npm install

      - name: Build
        run: make build
      
      - name: add nojekyll
        run: touch ./public/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.TOKEN }}
          publish_dir: ./public
          publish_branch: master
          user_name: saefullohmaslul
          user_email: maslulsaefulloh@gmail.com