name: CI
on: 
  push:
    branchs:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Ruby Dev
        run: sudo apt-get install ruby-dev

      - name: Install AsciiDoctor and Rouge
        run: sudo gem install asciidoctor rouge        
      
      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.68.3"
      
      - name: Prepare hugo
        run: |
          git submodule sync && git submodule update --init

      - name: Build
        run: make build
      
      - name: add nojekyll
        run: touch ./public/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./public
        with:
          personal_token: ${{ secrets.TOKEN }}
          external_repository: saefullohmaslul/saefullohmaslul.github.io
          publish_dir: ./public
          publish_branch: gh-pages
          keep_files: true
          user_name: saefullohmaslul
          user_email: maslulsaefulloh@gmail.com