name: build
on: 
  push:
    branchs:
      - blog

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout Latest Commit
        uses: actions/checkout@v2
        with:
          submodules: true
      
      - name: Installing Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.68.3"

      - name: Build
        run: make build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.TOKEN }}
          publish_dir: ./public
          publish_branch: master
          # user_name: saefullohmaslul
          # user_email: maslulsaefulloh@gmail.com
          cname: hobikoding.com
          disable_nojekyll: true
          commit_message: ${{ github.event.head_commit.message }}